<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-red lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h3 class="m-n font-thin text-white">New Project</h3>
        </div>
      </div>
    </div>

    <div class="wrapper-md">
      <div class="panel b-a">
        <div class="panel-body">
          <form role="form" [formGroup]="project" autocomplete="off">
            <div class="row">
              <div class="col-md-12">
                <legend>
                  <span class="font-weight-600">Create New Project</span>
                </legend>
              </div>



              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label font-weight-600">Project Number*</label>
                  <input formControlName="projectNumber" type="text" class="form-control" name="">
                  <p *ngIf="project.get('projectNumber')?.hasError('required')&&(submitted||project.get('projectNumber')?.dirty||project.get('projectNumber')?.touched )"
                    style="color: red;">
                    Project ID <strong>Required</strong>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label font-weight-600">Project Name*</label>
                  <input type="text" formControlName="projectName" class="form-control">
                  <p *ngIf="project.get('projectName')?.hasError('required')&&(submitted||project.get('projectName')?.dirty||project.get('projectName')?.touched )"
                    style="color: red;">
                    Project Name <strong>Required</strong>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label font-weight-600">Project Description/Remark *</label>
                  <input formControlName="projectDescription" type="text" class="form-control" name="">
                  <p *ngIf="project.get('projectDescription')?.hasError('required')&&(submitted||project.get('projectDescription')?.dirty||project.get('projectDescription')?.touched )"
                    style="color: red;">
                    Project Description <strong>Required</strong>
                  </p>
                </div>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <div class="borderFormBox">
              <div class="top-head">
                <h4 style="padding:0px 20px">Acquisition Details</h4>

                <div class="add-del-btn">
                  <button class="save-btn mt-3 mb-3 d-flex justify-content-end" (click)="addselectState()"
                    type="button"><i class="fa fa-plus" aria-hidden="true"></i> Acquisition Details</button>
                </div>
              </div>
              <div style="overflow-x:auto;">
                <table class="table" formArrayName="selectState">
                  <thead>
                    <tr>
                      <th>#</th>

                      <th>State*</th>
                      <th>District*</th>
                      <th>Block*</th>
                      <th>Village*</th>
                      <th>Area (Ha)*</th>
                      <th>Sanctioned Amount (In Cr)*</th>
                      <th>Remark*</th>
                      <th> Remove</th>

                    </tr>

                  </thead>
                  <tbody *ngFor="let opt of selectState.controls; let i = index">
                    <tr [formGroupName]="i">
                      <td>{{i+1}}</td>
                      <td style="width:15%">
                        <div class="form-group">
                          <select class="form-control" formControlName="state" (change)="getDistrict($event,i)">
                            <option hidden>Select State</option>
                            <option *ngFor="let item of state" value="{{item.stateName}}">{{item.stateName}}</option>

                          </select>
                          <p *ngIf="opt.get('state')?.hasError('required')&&(submitted||opt.get('state')?.dirty||opt.get('state')?.touched )"
                            style="color: red;">
                            State <strong>Required</strong>
                          </p>
                          <!-- <p *ngIf="village.get('state')?.hasError('required')&&(submitted||village.get('state')?.dirty||village.get('state')?.touched )" style="color: red;">
                                        State <strong>required</strong>
                                      </p> -->

                        </div>
                      </td>
                      <td style="width:15%">
                        <div class="">
                          <div class="form-group">

                            <select class="form-control" formControlName="district" (change)="getblock($event,i)">
                              <option hidden>Select District</option>
                              <option *ngFor="let item of district[i]" value="{{item.district}}">{{item.district}}
                              </option>

                            </select>
                            <p *ngIf="opt.get('district')?.hasError('required')&&(submitted||opt.get('district')?.dirty||opt.get('district')?.touched )"
                              style="color: red;">
                              District <strong>Required</strong>
                            </p>
                            <!-- <p *ngIf="village.get('district')?.hasError('required')&&(submitted||village.get('district')?.dirty||village.get('district')?.touched )" style="color: red;">
                                            District <strong>required</strong>
                                          </p> -->

                          </div>
                        </div>
                      </td>
                      <td style="width:15%">
                        <div class="">
                          <div class="form-group">

                            <select class="form-control" formControlName="block" (change)="getVillage($event,i)">
                              <option hidden>Select Block</option>
                              <option *ngFor="let item of block[i]" value="{{item.block}}">{{item.block}}</option>

                            </select>
                            <p *ngIf="opt.get('block')?.hasError('required')&&(submitted||opt.get('block')?.dirty||opt.get('block')?.touched )"
                              style="color: red;">
                              Block <strong>Required</strong>
                            </p>


                          </div>
                        </div>
                      </td>
                      <td style="width:15%">
                        <div class="">
                          <div class="form-group">

                            <select class="form-control" formControlName="village">
                              <option hidden>Select Village</option>
                              <option *ngFor="let item of village[i]" value="{{item.village}}">{{item.village}}</option>

                            </select>
                            <p *ngIf="opt.get('village')?.hasError('required')&&(submitted||opt.get('village')?.dirty||opt.get('village')?.touched )"
                              style="color: red;">
                              village <strong>Required</strong>
                            </p>


                          </div>
                        </div>
                      </td>
                      <td style="width:15%"><input type="text" step='0.01' formControlName="area"
                          (keypress)="keyPressNumbers($event)" (focusout)="checkDecimal('area',i)" class="form-control"
                          name="">
                        <p *ngIf="opt.get('area')?.hasError('required')&&(submitted||opt.get('area')?.dirty||opt.get('area')?.touched )"
                          style="color: red;">
                          Area <strong>Required</strong>
                        </p>
                      </td>
                      <td style="width:15%"><input type="text" (keypress)="keyPressNumbers($event)"
                          (focusout)="checkDecimal('sanctionedAmount',i)" step='0.01' formControlName="sanctionedAmount"
                          class="form-control" name="">
                        <p *ngIf="opt.get('sanctionedAmount')?.hasError('required')&&(submitted||opt.get('sanctionedAmount')?.dirty||opt.get('sanctionedAmount')?.touched )"
                          style="color: red;">
                          Sanctioned Amount <strong>Required</strong>
                        </p>
                      </td>
                      <td style="width:10%"><textarea class="" type="text"
                          formControlName="remark" class="form-control text-remark" name=""></textarea>
                        <p *ngIf="opt.get('remark')?.hasError('required')&&(submitted||opt.get('remark')?.dirty||opt.get('remark')?.touched )"
                          style="color: red;">
                          Remark <strong>Required</strong>
                        </p>
                      </td>

                      <td> <a *ngIf="i!==0" (click)="removeselectState(i)"> <i class="fa fa-close"></i></a></td>
                    </tr>


                  </tbody>

                </table>
              </div>
            </div>

            <div class="clearfix"></div>
            <hr />
            <div class="button-right">
              <div class="row">
                <div class="col-md-12">
                  <a class="btn m-b-xs btn-md btn-success" (click)="onSubmit('Save')">Save</a>
                  <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit('New')">Save and New</a>
                  <a class="btn m-b-xs btn-md btn-default" (click)="cancel()">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>