<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Dashboard</h3>
                </div>
            </div>
        </div>

        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                  <div> <img src="./assets/img/LDA.png" alt="." style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>