<div id="content" class="app-content" role="main">
  <div class="app-content-body">
      <div class="bg-red lter b-b wrapper-md">
          <div class="row">
              <div class="col-sm-6 col-xs-12">
                  <h3 class="m-n font-thin text-white"> ADD Survey</h3>
              </div>
          </div>
      </div>

      <div class="wrapper-md">
          <div class="panel b-a">
              <div class="panel-body">
                  <form role="form" [formGroup]="survey" autocomplete="off">
                      <div class="row">
                          <div class="col-md-12">
                              <legend>
                                  <span class="font-weight-600">Create New Survey</span>
                              </legend>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">Project Name*
                                  </label>
                                  <select type="select" formControlName="projectName" class="form-control"
                                      (change)="getPriject($event)">
                                      <option hidden>Select Project</option>
                                      <option *ngFor="let item of project" value="{{ item.projectName }}">
                                          {{ item.projectName }}
                                      </option>
                                  </select>
                                  <p *ngIf="survey.get('projectName')?.hasError('required')&&(submitted||survey.get('projectName')?.dirty||survey.get('projectName')?.touched )"
                                      style="color: red;">
                                      Project Name <strong>Required</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">Project Number*</label>
                                  <input formControlName="projectNumber" type="text" class="form-control" name=""
                                      readonly />
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label font-weight-600">Survey Number*</label>
                                <input type="text" formControlName="surveyNumber" class="form-control"
                                name="" />
                            <p *ngIf="survey.get('surveyNumber')?.hasError('required')&&(submitted||survey.get('surveyNumber')?.dirty||survey.get('surveyNumber')?.touched )"
                                style="color: red;">
                                Survey Number <strong>Required</strong>
                            </p>
                            </div>
                        </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">Survey Date*</label>
                                  <!-- <input type="date" id="start" name="trip-start"value="2022-07-22" min="{{todayDate}}"   > -->
                                  <input class="form-control m-input pl-6  datepicker" type="date"
                                  min="{{todayDate}}" formControlName="date">
                                  <!-- <input formControlName="date" min="{new Date().toISOString().split('T')[0]}" type="date" class="form-control" name="" /> -->
                                  <p *ngIf="survey.get('date')?.hasError('required')&&(submitted||survey.get('date')?.dirty||survey.get('date')?.touched )"
                                      style="color: red;">
                                      Date <strong>Required</strong>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label font-weight-600">State*</label>
                                <select class="form-control" formControlName="state" (change)="getDistrict($event)">
                                    <option hidden>Select State</option>
                                    <option *ngFor="let item of state" value="{{ item }}">
                                        {{ item }}
                                    </option>
                                </select>
                                <p *ngIf="survey.get('state')?.hasError('required')&&(submitted||survey.get('state')?.dirty||survey.get('state')?.touched )"
                                    style="color: red;">
                                    state <strong>Required</strong>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label font-weight-600">District*</label>
                              <select class="form-control" formControlName="district" (change)="getBlock($event)">
                                  <option hidden>Select District</option>
                                  <option *ngFor="let item of district" value="{{ item }}">
                                      {{ item }}
                                  </option>
                              </select>
                              <p *ngIf="survey.get('district')?.hasError('required')&&(submitted||survey.get('district')?.dirty||survey.get('district')?.touched )"
                                  style="color: red;">
                                  District <strong>Required</strong>
                              </p>
                          </div>
                      </div>
                          <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label font-weight-600">Document*</label>
                                <input type="file" accept=".gif,.jpg,.jpeg,.png,.pdf" class="form-control"
                                (change)="changeListener($event,0,'outside')" />
                                <p class="fileSizetext">File should be in pdf, jpg, jpeg & png format. File size
                                  should be less than 2MB</p>
                                <p *ngIf="survey.get('document')?.hasError('required')&&(submitted||survey.get('document')?.dirty||survey.get('document')?.touched )"
                                    style="color: red;">
                                    Please Upload <strong>Document</strong>
                                </p>
                            </div>
                        </div>


                      </div>


                  <div class="clearfix"></div>

                  <div class="borderFormBox">
                      <div class="top-head">
                          <h4 style="padding: 0px 20px">Survey Details</h4>
                          <button class="save-btn mt-3 mb-3 d-flex justify-content-end" (click)="addsurvey()"
                              type="button">
                              <i class="fa fa-plus" aria-hidden="true"></i>Add New Survey Details
                          </button>
                      </div>
                      <div style="overflow-x:auto;">
                          <table class="table" formArrayName="surveyDetail">
                              <thead>
                                  <tr>
                                      <th>S.No</th>

                                      <th>Block*</th>
                                      <th>Village*</th>
                                      <th> Acquired Area ( Ha )*</th>
                                      <th>Total Area ( Ha )*</th>
                                      <th>Land Type*</th>
                                      <th>Land Nature*</th>
                                      <th>Land Category*</th>
                                      <th>Objecton*</th>
                                      <th>Objection Type*</th>
                                      <th>Amount ( In Cr )*</th>
                                      <th>Beneficiary Count*</th>
                                      <th>Document*</th>
                                      <!-- <th>Cheque Number</th>
                                  <th>Cheque Date</th>
                                  <th>Registration Amount</th>
                                  <th>Doc Upload</th> -->
                                      <!-- <th><i class="fa fa-upload"></i></th> -->
                                      <th><i class="fa fa-trash"></i></th>
                                  </tr>
                              </thead>
                              <tbody *ngFor="let opt of surveyControl.controls; let i = index">
                                  <tr [formGroupName]="i">
                                      <td>{{ i + 1 }}</td>



                                      <td>
                                          <div class="">
                                              <div class="form-group">
                                                  <select class="form-control" formControlName="block"
                                                      (change)="getVillage($event, i)">
                                                      <option hidden>Select Block</option>
                                                      <option *ngFor="let item of block" value="{{ item }}">
                                                          {{ item }}
                                                      </option>
                                                  </select>
                                                  <p *ngIf="opt.get('block')?.hasError('required')&&(submitted||opt.get('block')?.dirty||opt.get('block')?.touched )"
                                                      style="color: red;">
                                                      Please Select <strong>Block</strong>
                                                  </p>
                                                  <!-- <p *ngIf="opt.get('block')?.hasError('required')&&(submitted||opt.get('block')?.dirty||opt.get('block')?.touched )"
                                            style="color: red;">
                                            Block <strong>Required</strong>
                                          </p> -->
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="">
                                              <div class="form-group">
                                                  <select class="form-control" formControlName="village" (change)="getBeneficiaryCount($event, i)">
                                                      <option hidden>Select Village</option>
                                                      <option *ngFor="let item of village[i]" value="{{ item }}">
                                                          {{ item }}
                                                      </option>
                                                  </select>
                                                  <p *ngIf="opt.get('village')?.hasError('required')&&(submitted||opt.get('village')?.dirty||opt.get('village')?.touched )"
                                                      style="color: red;">
                                                      Please Select <strong>Village</strong>
                                                  </p>
                                                  <!-- <p *ngIf="opt.get('village')?.hasError('required')&&(submitted||opt.get('village')?.dirty||opt.get('village')?.touched )"
                                            style="color: red;">
                                            village <strong>Required</strong>
                                          </p> -->
                                              </div>
                                          </div>
                                      </td>
                                      <td>
                                          <input type="text" formControlName="area" (keypress)="keyPressNumbers($event)" (focusout)="checkDecimal('area',i)" class="form-control"
                                              name="" />
                                          <p *ngIf="opt.get('area')?.hasError('required')&&(submitted||opt.get('area')?.dirty||opt.get('area')?.touched )"
                                              style="color: red;">
                                              Area <strong>Required</strong>
                                          </p>
                                      </td>
                                      <td>
                                          <input type="text" formControlName="totalArea" (keypress)="keyPressNumbers($event)" (focusout)="checkDecimal('totalArea',i)" class="form-control" name="" />
                                          <p *ngIf="opt.get('totalArea')?.hasError('required')&&(submitted||opt.get('totalArea')?.dirty||opt.get('totalArea')?.touched )"
                                              style="color: red;">
                                              Total Area <strong>Required</strong>
                                          </p>
                                      </td>

                                      <td>
                                        <select  formControlName="landType"   class="form-control">
                                          <option  *ngFor="let lantitem of landType" value="{{lantitem?.landType}}">{{lantitem?.landType}}</option>
                                        </select>

                                          <p *ngIf="opt.get('landType')?.hasError('required')&&(submitted||opt.get('landType')?.dirty||opt.get('landType')?.touched )"
                                              style="color: red;">
                                              Land Type <strong>Required</strong>
                                          </p>
                                      </td>
                                      <td>
                                        <select  formControlName="landNature"   class="form-control">
                                          <option  *ngFor="let lantitem of landNature" value="{{lantitem?.landNature}}">{{lantitem?.landNature}}</option>
                                        </select>

                                        <p *ngIf="opt.get('landNature')?.hasError('required')&&(submitted||opt.get('landNature')?.dirty||opt.get('landNature')?.touched )"
                                            style="color: red;">
                                            Land Nature Share <strong>Required</strong>
                                        </p>
                                    </td>
                                    <td>
                                      <select  formControlName="landCategory"   class="form-control">
                                        <option  *ngFor="let lantitem of landCategory" value="{{lantitem?.landCategory}}">{{lantitem?.landCategory}}</option>
                                      </select>

                                      <p *ngIf="opt.get('landCategory')?.hasError('required')&&(submitted||opt.get('landCategory')?.dirty||opt.get('landCategory')?.touched )"
                                          style="color: red;">
                                          Land Category  <strong>Required</strong>
                                      </p>
                                  </td>
                                  <td>
                                    <select  formControlName="objecton"   class="form-control"    (change)="getobjecton($event,i)">
                                      <option   value="Yes">Yes</option>
                                      <option   value="No">No</option>
                                    </select>

                                    <p *ngIf="opt.get('objecton')?.hasError('objecton')&&(submitted||opt.get('objecton')?.dirty||opt.get('objecton')?.touched )"
                                        style="color: red;">
                                        Objecton  <strong>Required</strong>
                                    </p>
                                </td>
                                <td>
                                  <select  formControlName="objectionType"   class="form-control"   >
                                    <option *ngFor="let item of objectionType[i]"   value="{{item.objectionType}}">{{item.objectionType}}</option>
                                  </select>

                                  <p *ngIf="opt.get('objectionType')?.hasError('required')&&(submitted||opt.get('objectionType')?.dirty||opt.get('objectionType')?.touched )"
                                      style="color: red;">
                                      Objection Type <strong>Required</strong>
                                  </p>
                              </td>

                            <td>
                              <input type="text"  (keypress)="keyPressNumbers($event)" (focusout)="checkDecimal('amount',i)" formControlName="amount" class="form-control"
                                  name="" />
                              <p *ngIf="opt.get('amount')?.hasError('required')&&(submitted||opt.get('amount')?.dirty||opt.get('amount')?.touched )"
                                  style="color: red;">
                                  Area <strong>Required</strong>
                              </p>
                          </td>
                          <td>
                              <input type="text" formControlName="beneficiaryCount" (keypress)="keyPressNumbers($event)" class="form-control"  />

                          </td>
                          <td>
                            <input type="file" accept=".gif,.jpg,.jpeg,.png,.pdf" class="form-control"
                            (change)="changeListener($event,i,'inside')" />
                            <p class="fileSizetext">File should be in pdf, jpg, jpeg & png format. File size
                              should be less than 2MB</p>

                            <p *ngIf="opt.get('document')?.hasError('required')&&(submitted||opt.get('document')?.dirty||opt.get('document')?.touched )"
                                style="color: red;">
                                Please Upload <strong>Document</strong>
                            </p>
                        </td>
                                      <td>
                                          <a *ngIf="i !== 0" (click)="removesurvey(i)">
                                              <i class="fa fa-close"></i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="clearfix"></div>

                      <div class="clearfix"></div>

                      <div class="clearfix"></div>
                      <hr />
                      <div class="button-right">
                          <div class="row">
                              <div class="col-md-12">
                                  <a class="btn m-b-xs btn-md btn-success" (click)="onSubmit('save')">Save</a>
                                  <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit('new')">Save and New</a>
                                  <a class="btn m-b-xs btn-md btn-default" (click)="cancel()">Cancel</a>
                              </div>
                          </div>
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
