
  <div class="panel-body">
    <form role="form" [formGroup]="changePassword">
        <div class="row">
            <div class="col-md-12">
                <legend>
                    <span class="font-weight-600">Change Password</span>
                </legend>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label font-weight-600">Old Password
                    </label>
                    <input type="text"  formControlName="oldPassword" class="form-control">

                    <p *ngIf="changePassword.get('oldPassword')?.hasError('required')&&(submitted||changePassword.get('oldPassword')?.dirty||changePassword.get('oldPassword')?.touched )"
                        style="color: red;">
                        Old Password  <strong>Required</strong>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label class="control-label font-weight-600">Password
                  </label>
                  <input type="text" formControlName="password" class="form-control">

                  <p *ngIf="changePassword.get('password')?.hasError('required')&&(submitted||changePassword.get('password')?.dirty||changePassword.get('password')?.touched )"
                      style="color: red;">
                      Password <strong>Required</strong>
                  </p>
              </div>
          </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label font-weight-600">Confirm Password</label>
                    <input type="text" class="form-control" formControlName="confirmPassword" >

                    <!-- <select class="form-control" formControlName="confirmPassword" (change)="getDistrict($event)">
                        <option hidden>Select State</option>
                        <option *ngFor="let item of confirmPassword" value="{{ item }}">
                            {{ item }}
                        </option>
                    </select> -->
                    <p *ngIf="changePassword.get('confirmPassword')?.hasError('required')&&(submitted||changePassword.get('confirmPassword')?.dirty||changePassword.get('confirmPassword')?.touched )"
                        style="color: red;">
                        Confirm Password <strong>Required</strong>
                    </p>
                </div>
            </div>
        </div>
    </form>

    <div class="clearfix"></div>

    <div class="borderFormBox">

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <hr />
        <div class="button-right">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn m-b-xs btn-md btn-success" (click)="onSubmit()">Save</a>
                    <!-- <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit()">Save and New</a> -->
                    <a class="btn m-b-xs btn-md btn-default" (click)="cancel()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
