<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Payment Demand Request</h3>
                </div>
            </div>
        </div>

        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <form role="form" [formGroup]="beneficiary" autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <legend>
                                    <span class="font-weight-600">Create New Payment Demand Request</span>
                                </legend>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Project Name </label>
                                    <select type="date" formControlName="projectName" class="form-control" (change)="getPriject($event)" >
                                      <option *ngFor="let item of project" value="{{item.projectName}}">{{item.projectName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Project ID</label>
                                    <input formControlName="projectID" type="text" class="form-control" name="" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Date</label>
                                    <input formControlName="date" type="date" class="form-control" name="" >
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">State</label>
                                  <select class="form-control" formControlName="state" (change)="getDistrict($event)">
                                    <option hidden>Select State</option>
                                    <option *ngFor="let item of state" value="{{item}}">{{item}}</option>

                                  </select>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label font-weight-600">District</label>
                                <select class="form-control" formControlName="district" name="">
                                  <option hidden>Select District</option>
                                  <option *ngFor="let item of district" value="{{item}}">{{item}}</option>

                                </select>
                            </div>
                        </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="borderFormBox">
                            <h4 style="padding:0px 20px">Beneficiary (Bainama)</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Beneficiary Name</th>
                                    <th>Gata Number</th>
                                    <th>Rakba</th>
                                    <th>Pratifal Rate</th>
                                    <th>Beneficary Share</th>
                                    <th>Cheque Number</th>
                                    <th>Cheque Date</th>
                                    <th>Registration Amount</th>
                                    <th>Doc Upload</th>
                                    <th><i class="fa fa-upload"></i></th>
                                    <th><i class="fa fa-trash"></i></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td><input type="text" formControlName="beneficiaryName" class="form-control" name=""></td>
                                        <td><input type="text" formControlName="gataNumber" class="form-control" name=""></td>
                                        <td><input type="number" formControlName="rakba" class="form-control" name=""></td>
                                        <td><input type="number" formControlName="pratifalRate" class="form-control" name=""></td>
                                        <td><input type="text"  formControlName="beneficaryShare"  class="form-control" name=""></td>
                                        <td><input type="text"  formControlName="chequeNumber" class="form-control" name=""></td>
                                        <td><input type="date"  formControlName="chequeDate" class="form-control" name=""></td>
                                        <td><input type="text"  formControlName="registrationAmount" class="form-control" name=""></td>
                                        <td><input type="file"  class="form-control" name=""></td>
                                        <td><i class="fa fa-file-pdf-o text-danger"></i></td>
                                        <td><i class="fa fa-close"></i></td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div class="grayFormBox wrapper-md">

                        <div class="pull-right" style="width:100%;">
                            <div>
                                <!-- <label class="control-label font-weight-600">Attach</label> -->
                                <input type="file" class="form-control" name="">
                            </div>
                        </div>
                        <a class="adBtnInputField"><i class="fa fa-link"></i> Attach Document</a>

                        <div class="clearfix"></div>
                    </div>
                        <div class="clearfix"></div>
                        <div class="borderFormBox">
                            <h5 style="padding:0px 20px">Remark</h5>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea formControlName="remark" class="form-control" style="width: 100%;"></textarea>
                                </div>
                            </div>
                        <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn m-b-xs btn-md btn-success"  (click)="onSubmit()">Save</a>
                                <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit()">Save and New</a>
                                <a class="btn m-b-xs btn-md btn-default"  (click)="cancel()">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
