<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Create IFSC</h3>
                </div>
            </div>
        </div>
       
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <form role="form" method="post" action="" autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <legend>
                                    <span class="font-weight-600">IFSC Information</span>
                                </legend>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">STATE</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">IMPS</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">SWIFT</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">NEFT</label>
                                    <select class="form-control dealer_code" name="dealer_code">
                                        <option value=''>Select NEFT</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">RTGS</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">CENTER</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Branch</label>
                                    <input type="text" class="form-control" name="city_code">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Address</label>
                                    <input type="text" class="form-control" name="city_code">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Country</label>
                                    <select class="form-control model_code" name="model_code">
                                        <option value=''>Select Country</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">State</label>
                                    <select class="form-control model_code" name="model_code">
                                        <option value=''>Select State</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">City</label>
                                    <select class="form-control model_code" name="model_code">
                                        <option value=''>Select City</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Zip Code</label>
                                    <input type="text" class="form-control" name="invoice_type">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">District</label>
                                    <select class="form-control model_code" name="model_code">
                                        <option value=''>Select District</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">UPI</label>
                                    <input type="text" class="form-control color_code" name="color_code"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">MICR</label>
                                    <input type="text" class="form-control" name="chassis_prefix">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Bank ID</label>
                                    <input type="text" class="form-control" name="chassis_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Bank Code</label>
                                    <input type="text" class="form-control" name="engin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">IFSC</label>
                                    <input type="text" class="form-control" name="engin_no">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn m-b-xs btn-md btn-success" href="">Save</a>
                                <a class="btn m-b-xs btn-md btn-primary" href="">Save and New</a>
                                <a class="btn m-b-xs btn-md btn-default" href="">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>