<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Add Office</h3>
                </div>
            </div>
        </div>
       
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <form [formGroup]="officeForm"  role="form"  autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <legend>
                                    <span class="font-weight-600">Office Information</span>
                                </legend>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Office Type</label>
                                    <select formControlName="officeType" class="form-control model_code" name="model_code">
                                        <option value=''>Select Office Type</option>
                                            <option value="SMMU">SMMU</option>
                                            <option value="DMMU">DMMU</option>
                                            <option value="BMMU">BMMU</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Office Name</label>
                                    <input formControlName="officeName" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Office Description</label>
                                    <input formControlName="officeDescription" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Contact Number</label>
                                    <input formControlName="contactNumber" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Address Line 1</label>
                                    <input type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Address Line 2</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">PinCode</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">City</label>
                                    <select  class="form-control model_code" name="model_code">
                                        <option value=''>Select City</option>
                                            <option value="Lucknow">Lucknow</option>
                                            <option value="Varanasi">Varanasi</option>
                                            <option value="Mohanlalganj">Mohanlalganj</option>
                                            <option value="Allahbad">Allahbad</option>
                                            <option value="Lakhimpur">Lakhimpur</option>
                                            <option value="Kanpur">Kanpur</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Google Location</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Latitude</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Longitude</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Nodal Officer Name</label>
                                    <input formControlName="nodalOfficerName"   type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Nodal EMail</label>
                                    <input formControlName="nodalOfficerEmail" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Nodal Mobile</label>
                                    <input formControlName="nodalOfficerMobile"  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Highest Officer</label>
                                    <input formControlName="highestOfficer" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Officer Designation</label>
                                    <select formControlName="officerDesignation" class="form-control model_code" name="model_code">
                                        <option value=''>Select Officer Designation</option>
                                            <option value="Managing Director">Managing Director</option>
                                            <option value="Accounts Officer">Accounts Officer</option>
                                            <option value="Administration Head">Administration Head</option>
                                            <option value="Chief Financial Officer">Chief Financial Officer</option>
                                            <option value="District Officer">District Officer</option>
                                            <option value="District Collectorate">District Collectorate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Officer EMail</label>
                                    <input formControlName="officerEmail" type="email" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Officer Mobile</label>
                                    <input formControlName="officerMobile" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">GST Number</label>
                                    <input formControlName="gstNumber" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">PAN</label>
                                    <input formControlName="pan" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">GST Document</label>
                                    <input type="file" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">PAN Document</label>
                                    <input  type="file" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Name of DDO</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">Name of Sanctioning Authority</label>
                                    <input  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn m-b-xs btn-md btn-success"  (click)="onSubmit()">Save</a>
                                <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit()">Save and New</a>
                                <a class="btn m-b-xs btn-md btn-default"  (click)="cancel()">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>