<div id="content" class="app-content" role="main">
    <div class="app-content-body">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white">Beneficary</h3>
                </div>
            </div>
        </div>


        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <legend>
                                <span class="font-weight-600">Create New Beneficary</span>
                            </legend>
                        </div>





                        <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Beneficiary Name : {{beneficiaryData.beneficiaryName}}
                              </p>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <p class="control-label font-weight-600">Father/Husband Name :  {{beneficiaryData.fatherOrHusbandName}}
                            </p>
                        </div>
                    </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Address : {{beneficiaryData.address}}</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">State  : {{beneficiaryData.state}}</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">District : {{beneficiaryData.district}}</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <p class="control-label font-weight-600">Block : {{beneficiaryData.block}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <p class="control-label font-weight-600">Village Name : {{beneficiaryData.village}} </p>
                      </div>
                  </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Pin code : {{beneficiaryData.pincode}}</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <p class="control-label font-weight-600">Aadhaar Number : {{beneficiaryData.aadhaarNumber}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <p class="control-label font-weight-600">PAN Number : {{beneficiaryData.panNumber}}
                          </p>
                      </div>
                    </div>

                  <div class="col-md-4">
                    <div class="form-group">
                        <p class="control-label font-weight-600">Driving Licence Number : {{beneficiaryData.dlNumber}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <p class="control-label font-weight-600">Ration Card Number : {{beneficiaryData.rationCard}}
                      </p>
                  </div>
              </div>

                      <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Email : {{beneficiaryData.email}}</p>
                          </div>

                      </div>
                       <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Modile Number : {{beneficiaryData.modile}}</p>
                          </div>
                         </div>

                       <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Party Type : {{beneficiaryData.partyType}}</p>
                              <!-- <input formControlName="partyType" type="text" class="form-control" name="" /> -->
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">Bank Name : {{beneficiaryData.bank}}</p>
                          </div>
                      </div>
                       <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600">IFSC Code : {{beneficiaryData.ifscCode}}</p>
                          </div>
                      </div>
                        <div class="col-md-4">
                          <div class="form-group">
                              <p class="control-label font-weight-600"> Account Number  : {{beneficiaryData.accountNumber}}</p>
                          </div>
                      </div>


                        <div class="clearfix"></div>
                        <hr />
                        <div class="button-right">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
