<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
      <div class="bg-red lter b-b wrapper-md">
          <div class="row">
              <div class="col-sm-6 col-xs-12">
                  <h3 class="m-n font-thin text-white">Edit District</h3>
              </div>
          </div>
      </div>

      <div class="wrapper-md">
          <div class="panel b-a">
              <div class="panel-body">
                  <form role="form" [formGroup]="district" autocomplete="off">
                      <div class="row">
                          <div class="col-md-12">
                              <!-- <legend>
                                  <span class="font-weight-600">Create New district</span>
                              </legend> -->
                          </div>


                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">State*</label>
                                  <input formControlName="state" type="text" class="form-control" readonly>

                                 <p *ngIf="district.get('state')?.hasError('required')&&(submitted||district.get('state')?.dirty||district.get('state')?.touched )" style="color: red;">
                                   please Select  <strong>State</strong>
                                </p>

                              </div>
                          </div>

                        <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label font-weight-600">District Name*</label>
                              <input formControlName="district" type="text" class="form-control" name="">
                              <p *ngIf="district.get('district')?.hasError('required')&&(submitted||district.get('district')?.dirty||district.get('district')?.touched )" style="color: red;">
                                District Name <strong>required</strong>
                              </p>
                          </div>
                      </div>


                      </div>

                      <div class="clearfix"></div>



                      <div class="clearfix"></div>
                      <hr/>
                      <div class="row">
                          <div class="col-md-12">
                              <a class="btn m-b-xs btn-md btn-success"   (click)="onSubmit()">Update</a>
                              <!-- <a class="btn m-b-xs btn-md btn-primary" (click)="onSubmit()">Save and New</a> -->
                              <a class="btn m-b-xs btn-md btn-default"  (click)="cancel()">Cancel</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
