.btn-primary {
    color: #ffffff !important;
    background-color: #c45a11;
    border-color: #c45a11;
}

.btn-primary:hover {
    color: #ffffff !important;
    background-color: #b2500f;
    border-color: #b2500f;
}

.btn-primary:active {
    color: #ffffff !important;
    background-color: #8a3e0b;
    border-color: #8a3e0b;
}

.button-right {
    text-align: right;

}
.button-right a {
    margin: 8px;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{

  padding: 3px 8px;
  background-color: #eee;
  /* border: 1px solid rgb(188, 187, 187); */

}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
  padding: 0% !important;
  background-color: #eee;
  border-radius: 0%;
  border: 1px solid rgb(188, 187, 187);
}
::ng-deep.mat-form-field-underline{
  position: absolute;
    width: 0% !important;
    pointer-events: none;
    transform: scale3d(1, 1.0001, 1);
}
.pull-left i{
  font-size: 3.4rem;
}

.table tbody tr td {
  border: none;
  /* padding: 8px 4px; */
  text-align: center;
}

.borderFormBox .top-head {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0;
  align-items: center;
}

.top-head h5 {
  margin: 0%;
}

.table>thead>tr>th {
  padding: 8px 4px;
  border-bottom: 1px solid #eaeff0;
  text-align: center;
}
.table .form-control {
  width: 170px;
  /* height: 43px; */
}

.text-remark {
  width: 305px !important;
}