<aside id="aside" class="app-aside hidden-xs bg-blue">
    <div class="aside-wrap" id="sidebar">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix" id="leftmenuinnerinner">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>NAVIGATIONS</span>
                    </li>
                    <li>
                        <a  [routerLink]="['/dashboard/page']" routerLinkActive="active" >
                            <i class="glyphicon glyphicon-th-large"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>PROJECTS</span>
                    </li>
                    <li>
                        <a  [routerLink]="['/dashboard/project/page']" routerLinkActive="active">
                            <i class="fa fa-calculator"></i>
                            <span>Project List</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="['/dashboard/project/add']" routerLinkActive="active" >
                            <i class="fa fa-id-badge"></i>
                            <span>New Project</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10" >
                        <span>Survey</span>
                    </li>
                    <li>
                        <a  [routerLink]="['/dashboard/survey/surveyList']" routerLinkActive="active" >
                            <i class="fa fa-plus-square"></i>
                            <span>Survey List</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="['/dashboard/survey/addsurvey']" routerLinkActive="active" >
                            <i class="fa fa-users"></i>
                            <span>Add New Survey
</span>
                        </a>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-10" >
                      <span>Payment Demand Request</span>
                  </li>
                  <li>
                      <a  [routerLink]="['/dashboard/paymentDemandRequest/list']" routerLinkActive="active" >
                          <i class="fa fa-plus-square"></i>
                          <span>Payment Demand List</span>
                      </a>
                  </li>
                  <li>
                      <a  [routerLink]="['/dashboard/paymentDemandRequest/add']" routerLinkActive="active" >
                          <i class="fa fa-users"></i>
                          <span>Add Payment Demand
</span>
                      </a>
                  </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>System Configuration</span>
                  </li>
                  <li>
                      <a  [routerLink]="['/dashboard/masters/state']"  routerLinkActive="active"  >
                          <i class="glyphicon glyphicon-th-large"></i>
                          <span>State</span>
                      </a>
                  </li>
                  <!-- <li>
                    <a href="/dashboard/masters/stateList"  >
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span>State List</span>
                    </a>
                </li> -->
                  <li>
                    <a  [routerLink]="['/dashboard/masters/district']" routerLinkActive="active"  >
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span>District</span>
                    </a>
                </li>
                <!-- <li>
                  <a href="/dashboard/masters/districtList"  >
                      <i class="glyphicon glyphicon-th-large"></i>
                      <span>District List</span>
                  </a>
              </li> -->
                <li>
                  <a  [routerLink]="['/dashboard/masters/block']" routerLinkActive="active"  >
                      <i class="glyphicon glyphicon-th-large"></i>
                      <span>Block</span>
                  </a>
              </li>
              <li>
                <a  [routerLink]="['/dashboard/masters/village']" routerLinkActive="active"  >
                    <i class="glyphicon glyphicon-th-large"></i>
                    <span>Village</span>
                </a>
            </li>
              <li>
                <a  [routerLink]="['/dashboard/masters/bank']" routerLinkActive="active"  >
                    <i class="glyphicon glyphicon-th-large"></i>
                    <span>Bank</span>
                </a>
            </li>
            <li >
              <a  [routerLink]="['/dashboard/masters/landType']" routerLinkActive="active"  >
                  <i class="glyphicon glyphicon-th-large"></i>
                  <span>Land Type</span>
              </a>
          </li>
          <li>
            <a  [routerLink]="['/dashboard/masters/landNature']" routerLinkActive="active"  >
                <i class="glyphicon glyphicon-th-large"></i>
                <span>Land Nature</span>
            </a>
        </li>
        <li>
          <a  [routerLink]="['/dashboard/masters/landCategory']" routerLinkActive="active"  >
              <i class="glyphicon glyphicon-th-large"></i>
              <span>Land Category</span>
          </a>
      </li>
      <li>
        <a  [routerLink]="['/dashboard/masters/objectionType']" routerLinkActive="active"  >
            <i class="glyphicon glyphicon-th-large"></i>
            <span>Objection Type</span>
        </a>
    </li>
    <li>
        <a  [routerLink]="['/dashboard/beneficiary/beneficiariesList']" routerLinkActive="active"  >
            <i class="glyphicon glyphicon-th-large"></i>
            <span>Beneficiary </span>
        </a>
    </li>

            <!-- <li>
              <a href="/dashboard/masters/villageList"  >
                  <i class="glyphicon glyphicon-th-large"></i>
                  <span>Village List</span>
              </a>
          </li> -->

                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>PAYMENTS</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-calculator"></i>
                            <span id="side_users">Payments from NER</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-id-badge"></i>
                            <span>Payments to Beneficiary</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>REPORTS</span>
                    </li>
                    <li>
                        <a href="dashboard/system-configuration/scheme">
                            <i class="fa fa-calculator"></i>
                            <span>Project Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard/system-configuration/scheme">
                            <i class="fa fa-id-badge"></i>
                            <span>Land Acquisition Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard/system-configuration/scheme">
                            <i class="fa fa-calculator"></i>
                            <span>Beneficiary Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard/system-configuration/scheme">
                            <i class="fa fa-id-badge"></i>
                            <span>Beneficiary Payment Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard/system-configuration/scheme">
                            <i class="fa fa-calculator"></i>
                            <span>Beneficiary Pending Payment</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>LOGOUT</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Logout </span>
                        </a>
                    </li>
                    <li class="line dk"></li>

                </ul>
            </nav>
            <!-- nav -->
            <!-- aside footer -->
            <div class="aside-footer wrapper-sm poppins">
                <div class="text-center-folded text-center">

                    <p class="hidden-folded text-xs m-b-xs">Need help ? <a href="https://www.troology.com/"
                            target="_blank" class="font-weight-600">Contact us</a></p>
                    <p class="hidden-folded text-xs m-b-lg"><a href="https://www.troology.com/" target="_blank"><i
                                class="fa fa-bug"></i> Report a bug?</a></p>
                    <!-- <img src="./assets/img/final-logo.png" class="center-block img-responsive m-b-xs"
                      width="75px"> -->
                    <p class="hidden-folded text-10">Version 1.1</p>
                    <hr style="margin: 10px 0;">
                    <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a href="" style="">Support
                            Manual</a></p>
                    <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a href="">Copyright
                            Information</a></p>
                </div>
            </div>
            <!-- / aside footer -->
        </div>
    </div>
</aside>
