<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> -->

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function validateForm() {

    let x = document.forms["myForm"]["g-recaptcha-response"].value;
    if (x == "") {
      alert("Captcha must be filled out");
      return false;
    }
  }
</script>

<!-- content1 -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Hold on while we take you to your CII FACE Account! </p>
</ngx-spinner>

<section class="main-bg">
  <a href="javascript:void(0)" target="blanck" class="qr-img"></a>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="food-img-bg">
                  <div class="top-logo">
                      <!-- <img src="./assets/img/troology-logo.png" alt="" class="">  -->
                      <!-- <img src="./assets/img/Kanpur-logo.png" alt=""  class="UPSRLM"> -->
                  </div>
                  <div class="main-bg-con">
                      <div class="row g-0">
                          <div class="col-lg-8">
                              <div class="left-content">
                                  <h3>Welcome to<br>Land Acquisition - Kanpur
                                  <p style="display: block; font-size: 3rem; margin: 5px 0px;">Beneficiary & Budget Management System</p>
                                </h3>
                                  <span>भूमि अधिग्रहण - लाभार्थी एवं बजट प्रबंधन प्रणाली</span>
                                  <div class="clearfix"></div>
                                  <p style="margin-top: 1rem; font-size: 1.7rem; color: rgb(60 60 60); line-height: 22px; font-weight: 500;">Land Acquisition Programme under District Administration</p>
                                  <div class="clearfix"></div>
                                  <div class="Bottom-Content" style="margin-top:2rem;">
                                      <p>Land Acquisition - Beneficiary & Budget Management System (BBMS) is a web-based online software application. BBMS is being rolled out with the objective of tracking the beneficiaries and funds released to beneficiaries under the acquisition of the land and ensuring real-time reporting.</p>
                                      <p>BBMS has established an interface with the ICICI CIB Banking System (CIB) to provide the one window dashboard for the Department.</p>


                                  <div class="footerSec">
                                      <div class="copyrightline">
                                          <p>© 2021-22 | All Right Reserved | Version 1.0.1 | Last Update 15 July 2022</p>
                                          <!-- <h5>Implemented By:</h5> -->
                                      </div>

                                      <div class="footer_img">
                                          <img src="./assets/img/flg.png" alt="">
                                      </div>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="login-sec">
                                  <h2>Forget Password</h2>
                                  <!-- <p>Login to Land Acquisition Portal - Kanpur</p> -->
                                  <div class="login-sec-con">
                                      <form  [formGroup]="login">
                                          <div class="">
                                              <div class="form-group">
                                                  <input type="text" class="form-control user-bg" id="uername"
                                                      placeholder="Email" (focusout)="checkEmail($event)" formControlName="email">
                                                      <div *ngIf="submited||login.controls['email'].invalid &&  login.controls['email'].touched">
                                                        <span *ngIf="login.get('email')?.hasError('required')" style="color: red;">
                                                            Email <strong>required</strong>
                                                        </span>
                                                        <span *ngIf="login.get('email')?.hasError('email') && !login.get('email')?.hasError('required')" style="color: red;">
                                                       Invalid    <strong>Email</strong>
                                                      </span>
                                                      <p style="color: red;" *ngIf="login.get('email')?.hasError('isExist')
                                                      &&
                                                      !login.get('email')?.hasError('required')&&!login.get('email')?.hasError('email')">
                                                      Email not found
                                              </p>
                                                      <!-- <span *ngIf="login.get('email')?.hasError('email') && !login.get('email')?.hasError('required')" style="color: red;">
                                                        Invalid    <strong>Email</strong>
                                                       </span> -->
                                                </div>
                                              </div>
                                          </div>
                                          <!-- <div class="">
                                              <div class="form-group">
                                                  <input type="password" class="form-control user-password" id=""
                                                      placeholder="Password" formControlName="password">
                                                      <div *ngIf="submited||login.controls['password'].invalid &&  login.controls['password'].touched">
                                                        <span *ngIf="login.get('password')?.hasError('required')" style="color: red;">
                                                          Password <strong>required</strong>
                                                        </span>

                                                </div>
                                              </div>
                                          </div> -->
                                          <div class="col-md-12">
                                              <div class="form-group" >
                  <re-captcha  (resolved)="resolved($event)" siteKey="6LcZYWYeAAAAAFFzV_pFdZBksDadFNggfpxTZMfS"></re-captcha>
                </div>

                                          </div>
                                          <!-- <span class="msg-error error text-danger">hello</span> -->

                                          <div class="form-group">
                                              <!-- <button type="button"
                                                  class="btn btn-primary btn-lg btn-block login_btn"
                                                  id="btn-validate">Login</button> -->
                                                  <a (click)="userLogin()" class="btn btn-primary btn-lg login_btn" style="width: 100%; text-decoration: none;">Verify</a>
                                          </div>

                                          <!-- <div>
                                              <a href="forgot.html" class="forget_password">Forgot
                                                  Password?</a>
                                          </div> -->

                                          <div class="clearfix"></div>

                                          <!-- <p class="Create_Account">New to CII FACE Assessment Portal?<a href="/signUp"> Sign Up</a>
                </p> -->
                                          <div class="captcha-text">
                                              <p>Protected by reCAPTCHA. Google <a
                                                      href="https://policies.google.com/privacy"
                                                      target="_blank">Privacy Policy</a> & <a
                                                      href="https://policies.google.com/terms"
                                                      target="_blank">Terms of
                                                      Service</a> apply.</p>
                                          </div>
                                      </form>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- short menu -->
<div id="chat-circle" class="btn btn-raised">
  <div id="chat-overlay"></div>
  <p class="">Help</p>
</div>
<div class="chat-box">
  <div class="">
      <span class="chat-box-toggle"><i class="fa fa-close"></i></span>
  </div>
  <div class="chat-box-body">
      <div class="chat-box-overlay">
      </div>
      <div class="chat-logs">
          <ul>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">About Us</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">Feedback</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">Land Acquisition Act</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">Search</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">FAQs</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="javascript:void(0)" target="_blank">Public Grievances</a>
              </li>
              <li>
                  <img src="./assets/img/next.png" alt="">
                  <a href="#" target="_blank">Contact Us</a>
              </li>
          </ul>
      </div>
  </div>

</div>
<!-- end short menu  -->
</section>
